@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 2rem;
    font-family: Roboto, sans-serif;
}

.column {
/*     column-count: 4;
    column-width: 250px; */
    columns: 4 250px;
    column-rule: 2px solid #333;
    column-gap: 3rem;
}


.column p {
    margin-top: 0;
}

/* .column h2 {
    background-color: #333;
    color: whitesmoke;
    padding: 1rem;
    break-inside: avoid;
} */

.column .quote {
    font-size: 3rem;
    color: #333;
    column-span: all;
    margin-top: 2rem;
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}
